<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>main</title>
<style>
	::-webkit-scrollbar {
        display: none;
    }
</style>
</head>
<body>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<div class = "appcontainer">
		<div class = "banner">
			<table class = "bannerTb"> 
				<tr class = "bannerTr">
					<th><button class = "spacerbutton">About</button></th>
					<th class = "titleTh"><h2 class = "font">Student News Network COVID-19 Dashboard</h2></th>
					<th><button  type="button" id="myBtn" class = "spacerbutton realbutton">About</button></th>
				</tr>
			</table>
		</div>
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
			  <span class="close">&times;</span>
			  <p>The casecounts displayed on this page automatically updates every 15 minutes. 
			  All the casecounts are stored in our database hosted on AWS. This API is hosted on heroku.
			  Standalone version of the stats dashboard: 
			  <a href = "https://snnstatsapi.herokuapp.com/">link</a>. 
			  Daily casecounts are represented with a "+" plus sign.</p>
			  <br>
			  <p>-Jacky Wang</p>
			</div>
		  
		  </div>
		<br>
		<div class = "USstats">
			<h3 class = "title">US COVID-19 Stats</h3>

			<table class = "USstatstb">
				<tr>
					<th class = "USTH">
						<div class = "statscell">
							<h4 class = "sub" id = "USTTlbl">US Total</h4>
							<div class = "numcell">
								<table class = "numtb">
									<tr>
										<th id = "USTT">loading</th>
									</tr>
									<tr>
										<th id = "USTTIncre">loading</th>
									</tr>
								</table>
								
							</div>
						</div>
					</th>
					<th class = "USTH">
						<div class = "statscell">
							<h4 class = "sub" id = "USRlbl">US Death</h4>
							<div class = "numcell">
								<table class = "numtb">
									<tr>
										<th id = "USR">loading</th>
									</tr>
									<tr>
										<th id = "USRIncre">loading</th>
									</tr>
								</table>
							</div>
						</div>
					</th>
					<th class = "USTH">
						<div class = "statscell">
							<h4  class = "sub" id = "USDlbl">US Recovered</h4>
							<div class = "numcell">
								<table class = "numtb">
									<tr>
										<th id = "USD">loading</th>
									</tr>
									<tr>
										<th id = "USDIncre">loading</th>
									</tr>
								</table>
							</div>
						</div>
					</th>
				</tr>			
				
				
			</table>
			
		</div>
		<br>

		<div class = "CAstats">
			<h3 class = "title">CA COVID-19 Stats</h3>

			<table class = "CAstatstb">
				<tr>
					<th>
						<div class = "CAstatscell">
							<h4  class = "sub" id = "CATTlbl">CA Total</h4>
							<div class = "CAnumcell">
								<table class = "numtb">
									<tr>
										<th id = "CATT">loading</th>
									</tr>
									<tr>
										<th id = "CATTIncre">loading</th>
									</tr>
								</table>
								
							</div>
						</div>
					</th>
					<th>
						<div class = "CAstatscell">
							<h4  class = "sub" id = "CADlbl">CA Death</h4>
							<div class = "CAnumcell">
								<table class = "numtb">
									<tr>
										<th id = "CAD">loading</th>
									</tr>
									<tr>
										<th id = "CADIncre">loading</th>
									</tr>
								</table>
							</div>
						</div>
					</th>
				</tr>			
			</table>
				
			<table class = "OCLA">
				<tr>
					<th class = "LAth">
						<div class = "centerct">
						<table class = "LAtb">
							
							<tr>
								<th>
									<div class = "statscell">
										<h4 class = "sub" id = "LATTlbl">LA County Total</h4>
										<div class = "numcell">
											<table class = "numtb">
												<tr>
													<th id = "LATT">loading</th>
												</tr>
												<tr>
													<th id = "LATTIncre">loading</th>
												</tr>
											</table>
										</div>
									</div>
								</th>
							</tr>
							<tr>
								<th>
									<div class = "statscell">
										<h4 class = "sub" id = "LADlbl">LA County Death</h4>
										<div class = "numcell">
											<table class = "numtb">
												<tr>
													<th id = "LAD">loading</th>
												</tr>
												<tr>
													<th id = "LADIncre">loading</th>
												</tr>
											</table>
										</div>
									</div>
								</th>
							</tr>
							
						</table>
						</div>
					</th>
					<th class = "OCth">
						<div class = "centerct">
						<table class = "OCtb">						
							<tr>
								<th>
									<div class = "statscell">
										<h4 class = "sub" id = "OCTTlbl">Orange County Total</h4>
										<div class = "numcell">
											<table class = "numtb">
												<tr>
													<th id = OCTT>loading</th>
												</tr>
												<tr>
													<th id = OCTTIncre>loading</th>
												</tr>
												<tr class = "ocpr">
													<th id = "hideLabel" class = "ocpr ocprfont">
														Today Test Positive Rate
													</th>
												</tr>
												<tr class = "ocpr">
													<th class = "ocpr"><h5 class = "ocpr h5font" id = "ocpositiverate">loading</h5></th>
												</tr>
											</table>
										</div>
									</div>
								</th>
							</tr>
							<tr>
								<th>
									<div class = "statscell">
										<h4 class = "sub" id = "OCDlbl">Orange County Death</h4>
										<div class = "numcell">
											<table class = "numtb">
												<tr>
													<th id = "OCD">loading</th>
												</tr>
												<tr>
													<th id = "OCDIncre">loading</th>
												</tr>
											</table>
										</div>
									</div>
								</th>
							</tr>
							<tr>
								<th>
									<div class = "statscell">
										<h4 class = "sub" id = "OCRlbl">Orange County Total Tested</h4>
										<div class = "numcell">
											<table class = "numtb">
												<tr>
													<th id = "OCR">loading</th>
												</tr>
												<tr>
													<th id = "OCRIncre">loading</th>
												</tr>
											</table>
										</div>
									</div>
								</th>
							</tr>
							
						</table>
						</div>
					</th>
				</tr>
			</table>
			<h3 class = "title">Orange County Cities</h3>
			<table class = "OCcity" id = "OCCity"></table>
		</div>
		<br>
		<br>
		<div class = "charts">
			<div class = "inner">
				<h3 class = "title">Charts</h3>
				<table class = "charts">
					<tr>
						<th class = "chartth"> 
							<canvas class = "chartstyle" id = "USC1">Chart1</canvas>
						</th>
						<th class = "chartth">
							<canvas class = "chartstyle" id = "USC2">Chart2</canvas>
						</th>

					</tr>
					<tr>
						<th class = "chartth">
							<canvas class = "chartstyle" id = "CA1">Chart1</canvas>
						</th>
						<th class = "chartth"> 
							<canvas class = "chartstyle" id = "CA2">Chart2</canvas>
						</th>
					</tr>
					<tr>
						<th class = "chartth"><canvas class = "chartstyle" id = "LAC1">LA Chart 1</canvas></th>
					
						<th class = "chartth"><canvas class = "chartstyle" id = "LAC2">LA Chart 2</canvas></th>
					</tr>
					<tr>
						<th class = "chartth"><canvas class = "chartstyle" id = "OCC1">OC Chart 1</canvas></th>
					
						<th class = "chartth"><canvas class = "chartstyle" id = "OCC2">OC Chart 2</canvas></th>
					</tr>
				</table>	
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
